<main *ngIf="isSupported(selectedCipher)">

    <div class="btn-group">
        <a (click)="setMode('encrypt')" class="btn" 
            [class.btn-primary]="mode === 'encrypt'" [class.btn-outline-primary]="mode != 'encrypt'">
            Encrypt
        </a>
        <a (click)="setMode('decrypt')"  class="btn" 
        [class.btn-primary]="mode === 'decrypt'" [class.btn-outline-primary]="mode != 'decrypt'">
            Decrypt
        </a>
    </div>

    <textarea [(ngModel)]='inputText' cols="30" rows="4">Input</textarea>
    <textarea [(ngModel)]='outputText' disabled cols="30" rows="4"></textarea>

    <app-caesar *ngIf="selectedCipher == 'caesar'" (shiftEmmiter)="key = $event"></app-caesar>
    <app-columnar *ngIf="selectedCipher == 'columnar'" (keyEmmiter)="key = $event"></app-columnar>
    <app-des *ngIf="selectedCipher == 'des'" (keyEmmiter)="key = $event"></app-des>

    <button (click)="run()" type="button" class="btn btn-outline-dark">Run!</button>
</main>

<main *ngIf="!isSupported(selectedCipher)">
    <span>Please select a cipher.</span>
</main>

